*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #323232;
  /* padding: 10px; */
}

ul {
  list-style-type: none;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  font-size: 28px;
  padding-bottom: 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 1200px;
  margin: 0 auto;
}
.wrap {
  display: flex;
  gap: 50px;
}

/*section left*/
.section_left {
  /* width: 80%; */
}

.image {
  margin-bottom: 20px;
  border-radius: 50%;
  /* width: 400px; */
  /* background-color: red; */
  border: 1px solid #c2c2c2;

  overflow: hidden;
}
.image img {
  display: block;
  /* min-width: 100%; */
}

/*nav*/

.nav ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  /* background-color: #fff; */
  /* border: 1px solid black; */
}

.nav ul li {
  /* padding: 10px; */
  /* border: 1px solid red; */
}
.nav a {
  display: block;
  text-decoration: none;
  padding: 10px;
  /* background-color: yellow; */
}

.section_right {
  display: flex;
  flex-direction: column;
  /* padding-left: 40px; */
  gap: 50px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*header*/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.name {
  margin-bottom: 50px;
  /* background-color: #fafbff; */
  border-bottom: 1px solid #c2c2c2;
  /* background-color: red; */
}

.name p {
  font-size: 35px;
  font-weight: 300;
}

/*education*/

.course {
  border-top: 1px solid #c2c2c2;
  /* border: 1px solid black; */
  display: flex;
  padding: 20px 0;
  /* margin-bottom: 20px; */

  /* justify-content: space-between; */
}

.course div {
  width: 50%;
  margin-right: 20px;
}

/*code*/

.code {
  color: #ffffff;
  background-color: rgba(32, 21, 21, 0.895);
}

/*work example*/

.description {
  border-top: 1px solid #c2c2c2;
  padding: 20px 0;
}

iframe {
  margin-top: 15px;
  border: 1px solid #c2c2c2;
  border-radius: 20px;
}

/*footer*/

.footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  /* background-color: red; */
  border-top: 1px solid #c2c2c2;
}
